% from google.appengine.api import users
% from google.appengine.ext.blobstore import BlobInfo, BlobKey
% from google.appengine.api import images
% from datetime import date
% include('header.html')
% setdefault('comments', '')
% setdefault('action', 'add')
% setdefault('app_types', [])
% setdefault('app', {})
% setdefault('url_id', '')
% setdefault('upload_url', '/add')
% setdefault('image_types', ['image/gif', 'image/jpeg', 'image/png', ])
% setdefault('test_blob', None)

<div class="container-fluid">

<div class="row">
    <div class="col-md-12">
    <table class="table table-condensed table-hover table-bordered">
        <tr>
            <th>Заявка</th>
            <th>Тип</th>
            <th>Город</th>
            <th>Название</th>
            <th class="hidden-xs hidden-sm hidden-md ">Источник</th>
            <th class="hidden-xs hidden-sm hidden-md">Длит.<small>(мин)</small></th>
            <th>Отправлена</th>
            <th>Автор</th>
            <th>Почта</th>
            <th>Телефон</th>
            <th class="hidden-xs hidden-sm">Контакты</th>
            <th class="hidden-xs hidden-sm hidden-md ">Участ.</th>
            <th>Статус</th>
            <th></th>
        </tr>
            <form action="/list-apps" method="get" role="form" accept-charset="utf-8">
                <td>
                    <input class="form-control input-sm" type="number" name="app_number" id="app_number" placeholder="Номер..." />                    
                </td>
                <td>
                    <select class="form-control input-sm" name="app_type" id="app_type">
                        <option value="all">Все</option> 
                        % for app_type in sorted(app_types):
                            <option value="{{app_type}}">{{app_types[app_type]}}</option>  
                        % end
                    </select>                   
                </td>
                <td>
                    <input class="form-control input-sm" type="text" name="city" id="city" placeholder="Город" />                    
                </td>
                <td>

                </td>
                <td class="hidden-xs hidden-sm hidden-md ">

                </td>
                <td class="hidden-xs hidden-sm hidden-md">
                    <!-- <input class="form-control input-sm" type="text" name="timing" id="timing" placeholder="Минут" /> -->
                </td>
                <td>
                    
                </td>
                <td>
                    <!-- <input class="form-control input-sm" type="text" name="author_fn" id="author_fn" placeholder="Имя..." /> -->
                </td>
                <td>
                    <input class="form-control input-sm" type="text" name="author_mail" id="author_mail" placeholder="" />
                </td>
                <td>
                    
                </td>
                <td class="hidden-xs hidden-sm">
                    
                </td>
                <td class="hidden-xs hidden-sm hidden-md ">
                    
                </td>
                <td>
                    <select class="form-control input-sm" name="app_status" id="app_status">
                        <option value="all">Все</option> 
                        % for app_status in sorted(statuses):
                            <option value="{{app_status}}">{{statuses[app_status]}}</option>  
                        % end
                    </select>    
                </td>
                <td class="text-center">
                    <button type="submit" class="btn btn-primary btn-xs" id="submit" name="submit">Фильтровать</button>
                </td>
                
            </form>
        <tr>
        </tr>
        
        % for app in apps:
            <tr
            % if app.app_status == "deny":
                class="danger"
            % elif app.app_status == "accept":
                class="success"
            % elif app.app_status == "hold":
                class="warning"
            % elif app.app_status == "wait":
                class="info"
            % end
            >
            
                <td><a href="/view/{{app.key.urlsafe()}}"><span class="hidden-xs hidden-sm hidden-md">{{app.number}}</span><small class="hidden-lg">{{app.number}}</small></a></td>
                <td><a href="/view/{{app.key.urlsafe()}}">
                    <span class="hidden-xs hidden-sm hidden-md">{{app_types[app.app_type]}}</span><small class="hidden-lg">{{app_types[app.app_type]}}</small>
                </a></td>
                <td><a href="/view/{{app.key.urlsafe()}}">
                    <span class="hidden-xs hidden-sm hidden-md">{{app.city}}</span><small class="hidden-lg">{{app.city}}</small>
                </a></td>
                <td><a href="/view/{{app.key.urlsafe()}}">
                    <span class="hidden-xs hidden-sm hidden-md">{{app.app_title}}</span><small class="hidden-lg">{{app.app_title}}</small>
                </a></td>
                <td class="hidden-xs hidden-sm hidden-md "><a href="/view/{{app.key.urlsafe()}}">
                    {{app.app_origin}}
                </a></td>
                <td class="hidden-xs hidden-sm hidden-md"><a href="/view/{{app.key.urlsafe()}}">
                    {{app.timing}}
                </a></td>
                <td><a href="/view/{{app.key.urlsafe()}}">
                    <span class="hidden-xs hidden-sm hidden-md">{{app.date.strftime("%d-%m-%Y, %H:%M")}}</span><small class="hidden-lg">{{app.date.strftime("%d-%m-%Y")}}</small>
                </a></td>
                <td><a href="/view/{{app.key.urlsafe()}}"><span class="hidden-xs hidden-sm hidden-md">
                    {{app.author_fn}}, {{app.author_bdate.strftime("%Y")}} г.р. </span><small class="hidden-lg">{{app.author_fn}}</small>
                </a></td>
                <td><a href="/view/{{app.key.urlsafe()}}">
                    <span class="hidden-xs hidden-sm hidden-md">{{app.author_mail}}</span><small class="hidden-lg">{{app.author_mail}}</small>
                </a></td>
                <td><a href="/view/{{app.key.urlsafe()}}">
                    <span class="hidden-xs hidden-sm hidden-md">{{app.author_phone}}</span><small class="hidden-lg">{{app.author_phone}}</small>
                </a></td>
                <td class="hidden-xs hidden-sm"><a href="/view/{{app.key.urlsafe()}}">
                    <span class="hidden-xs hidden-sm hidden-md">{{app.author_contacts}}</span><small class="hidden-lg">{{app.author_contacts}}</small>
                </a></td>
                <td class="hidden-xs hidden-sm hidden-md "><a href="/view/{{app.key.urlsafe()}}">
                    {{len(app.participants)}}
                </a></td>
                <td><a href="/view/{{app.key.urlsafe()}}">
                    <span class="hidden-xs hidden-sm hidden-md">{{statuses[app.app_status]}}</span><small class="hidden-lg">{{statuses[app.app_status]}}</small></a></td>
                <td class="text-center">
                <a class="btn btn-default btn-xs" href="/edit/{{app.key.urlsafe()}}" role="button">Редактировать</a>
                </td>
                
            </tr>
        %end
        
    </table>
    </div>
</div>

</div>