% from google.appengine.api import users
% from google.appengine.ext.blobstore import BlobInfo, BlobKey
% from google.appengine.api import images
% from datetime import date
% include('header.html')
% setdefault('comments', '')
% setdefault('action', 'add')
% setdefault('app_types', [])
% setdefault('app', {})
% setdefault('url_id', '')
% setdefault('upload_url', '/add')
% setdefault('image_types', ['image/gif', 'image/jpeg', 'image/png', ])
% setdefault('test_blob', None)
% user = users.get_current_user()
% setdefault('return_page', '')

% if action == "edit":
    <div class="container-fluid">
    
        <h2 class="text-center">Заявка №: {{app.number}} <br/><i class="fa fa-info-circle"></i><small> запомните номер заявки, это важно!</small></h2>
        
    </div>
% end



<div class="container-fluid">


<div class="row col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
    
    <form action="{{upload_url}}" method="post" role="form" enctype="multipart/form-data" accept-charset="utf-8">
      
      <div class="form-group col-md-4">
      <label for="app_title">Название заявки</label>
	  <input class="form-control"  type="text" placeholder="Посторонним В" name="app_title" id="app_title" value="{{app.app_title if action == "edit" else ''}}">
	  <label for="content">Текст заявки</label>
	  <textarea class="form-control" name="content" id="content" placeholder="На сцену выходят слоны и танцуют. В лучах черного света со штанкета на сцену падает Харухи Судзумия. Играет Blumenkranz. Бурные аплодисменты." id="content" rows="14">{{app.content if action=="edit" else ''}}</textarea>
      <label for="app_origin">Источник (аниме, игра и т.д.)</label>
      <input class="form-control"  type="text" placeholder="Звездные Войны 7" name="app_origin" id="app_origin" value="{{app.app_origin if action == "edit" else ''}}">
      <label for="app_type">Тип заявки</label>
	  <select class="form-control" name="app_type" id="app_type">
      % for app_type in sorted(app_types):
	  <option value="{{app_type}}"
      % if action == 'edit':
      {{ "selected" if app_type == app.app_type else ""}}
      % end
      >{{app_types[app_type]}}</option>
	  
      % end
	  </select>
      <label for="timing">Продолжительность выступления (минут)</label>
      <input class="form-control"  type="text" placeholder="5.555" name="timing" id="timing" value="{{app.timing if action == "edit" else ''}}">
      
      % if user and users.is_current_user_admin():
          <label for="app_status    ">Статус</label>
          <select class="form-control" name="app_status" id="app_ststus">
              % for status in sorted(statuses):
                  <option value="{{status}}"
                  % if action == 'edit':
                  {{ "selected" if status == app.app_status else ""}}
                  % end
                  >{{statuses[status]}}</option>              
              % end
          </select>
      % end
	  </div>    
      
	  <div class="form-group col-md-2">
	  <label for="author_fn">ФИО автора заявки</label>
	  <input class="form-control input-sm" type="text" placeholder="Владимир Владимироваич Гендо" name="author_fn" id="author_fn" value="{{app.author_fn if action=="edit" else ''}}">   
      % if action == "add":
      <label for="author_bdate">Дата рождения автора</label>
	  <input class="form-control datepicker" data-provider="datepicker" type="date" name="author_bdate" id="author_bdate">  
      % end
	  <label for="author_phone">Телефон</label>
      <input class="form-control input-sm"  type="tel" placeholder="+380 322 223 322 322" name="author_phone" id="author_phone" value="{{app.author_phone if action=="edit" else ''}}">      
	  <label for="author_mail">Адрес электронной почты</label>
	  <input class="form-control" type="email" placeholder="steve.jobs@heaven.com" name="author_mail" id="author_mail" value="{{app.author_mail if action=="edit" else ''}}">
	  <label for="author_contacts">Прочие контакты</label>
	  <input class="form-control"  type="text" placeholder="Skype: nya_nya_nya, ВК: выхухоль" name="author_contacts" id="author_contacts" value="{{app.author_contacts if action=="edit" else ''}}">
      <label for="city">Город</label>
	  <input class="form-control" type="text" placeholder="Жмеринка, Ахтырка" name="city" id="city" value="{{app.city if action=="edit" else ''}}">

      <!-- -->
      </div>
      
      <!-- -->
      <div class="form-group col-md-6" id="participants">
      
      <h4>Участники<br/><small><i class="fa fa-info-circle"> </i> дополнительных участников можно добавить, отредактировав заявку</h4>
      
      
      
      
      % participant_id = 0
      % if action=="edit":
      % for participant in app.participants:
      <div class="row" id="participants_names_{{participant_id}}" >
      <div class="form-group col-md-4" id="participants_fn_{{participant_id}}">
      <label for="participant_fn_{{participant_id}}"><small>ФИО</small></label>
      <input class="form-control input-sm" type="text" name="participant_fn_{{participant_id}}" id="participant_fn_{{participant_id}}" value="{{participant.participant_fn}}" >
      </div>
      <div class="col-md-4" id="participants_nickname_{{participant_id}}">
      <label for="participant_nickname_{{participant_id}}"><small>Псевдоним</small></label>
      <input class="form-control input-sm" type="text" name="participant_nickname_{{participant_id}}" id="participant_nickname_{{participant_id}}" value="{{participant.participant_nickname}}" >
      </div>
      <div class="col-md-2" id="participants_age_{{participant_id}}">
      <label for="participant_age_{{participant_id}}"><small>Возраст</small></label>
      <input class="form-control input-sm" type="text" name="participant_age_{{participant_id}}" id="participant_age_{{participant_id}}" value="{{participant.participant_age}}" >
      </div>
      <div class="col-md-2" id="participants_delete_{{participant_id}}">
      <label for="participant_delete_{{participant_id}}">Удалить?</label>
      <input class="form-control input-sm " type="checkbox" name="participant_delete_{{participant_id}}" id="participant_delete_{{participant_id}}" > 
      </div>
      </div>
      % participant_id += 1
      % end
      % end
      
      % new_range = participant_id
      % for participant_id in range(participant_id, participant_id + 5):
      <div class="row" id="participants_names_new_{{participant_id}}" >
      <div class="form-group col-md-5" id="participants_fn_{{participant_id}}">
      <label for="participant_fn_{{participant_id}}"><small>ФИО</small></label>
      <input class="form-control input-sm" type="text" placeholder="Петя Васечкин" name="participant_fn_{{participant_id}}" id="participant_fn_{{participant_id}}" >
      </div>
      <div class="col-md-4" id="participants_nickname_{{participant_id}}">
      <label for="participant_nickname_{{participant_id}}"><small>Псевдоним</small></label>
      <input class="form-control input-sm" type="text" placeholder="Шынжы" name="participant_nickname_{{participant_id}}" id="participant_nickname_{{participant_id}}" >
      </div>
      <div class="col-md-3" id="participants_age_{{participant_id}}">
      <label for="participant_age_{{participant_id}}"><small>Возраст</small></label>
      <input class="form-control input-sm" type="text" placeholder="9000" name="participant_age_{{participant_id}}" id="participant_age_{{participant_id}}" >
      </div>
      </div>
      % end
      
      </div>
      
      % if action=="edit":
      <div class="col-md-6 col-lg-6">
      <div class="row">
      <div class="form-group form-group-lg col-md-12" id="uploads">
        <label for="upload">Загрузить файл</label>
        <input class="file" type="file" name="upload" id="upload" />
      </div>
      </div>
      <div class="row">
      <div class="form-group col-md-12" id="rehersals">
        <label for="rehersal">Видео репетиций (YouTube)</label>
        <input class="form-control input-sm" type="text" name="rehersal" id="rehersal" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" />
      </div>
      </div>
      </div>
      % end
      <div class="form-group col-md-12 col-lg-12" id="comments">
	  <label for="comment">Комментарий</label>
	  <textarea class="form-control input-lg" name="comment" id="comment" placeholder="Хотелось бы добавить, что слоны розовые." id="comment" rows="3"></textarea>
      </div>
      
      % if action=="edit":
        <input type="hidden" name="url_id" value="{{url_id}}" id="{{url_id}}">
      % end
      
      <div class="col-md-offset-11 form-group col-md-1 col-lg-1" id="submits">
      <button type="submit" class="btn btn-primary btn-lg" id="submit" name="submit">Послать!</button>
      </div>
      
      
      
      
      
    
    </form>
	</div>
</div>


<div>

% if action == "edit":
% blob_images = []
% blob_files = []

% for blob_key in app.test_blob:
% blob = BlobInfo.get(blob_key)

% if blob.content_type in image_types:
%   blob_images.append(blob)
% else:
%   blob_files.append(blob)
% end

% end

<div class="container-fluid col-md-offset-1 col-md-10 col-lg-10">
<div class="panel panel-default">
<div class="panel-heading"><i class="fa fa-file-image-o"></i> Фотографии:</div>
<div class="panel-body">

% for blob in blob_images:
<a href="{{images.get_serving_url(blob.key(), size=1600, crop=False)}}" target="_blank"><img src="{{images.get_serving_url(blob.key())}}=s250-c" class="img-rounded"/></a>
% end
</div>
</div>
</div>

<div class="container-fluid col-md-offset-1 col-md-10 col-lg-10">
<div class="panel panel-default">
<div class="panel-heading"><i class="fa fa-file"></i> Прочие файлы:</div>
<div class="panel-body">
<ul class="list-inline">
% for blob in blob_files:
<li><a href = "/download/{{blob.key()}}">{{blob.filename}}</a></li>
% end
</ul>
</div>
</div>
</div>


    
</div>

%if app.rehersals:
<div class="container-fluid col-md-offset-1 col-md-10 col-lg-10">
<h3>Репетиции</h3>

<div class="panel panel-info">
<div class="panel-body">
%for rehersal in app.rehersals:

<iframe class="embed-responsive-item" width="320" height="240" src="https://www.youtube.com/embed/{{rehersal}}" frameborder="0"></iframe>


%end
</div>
</div>
</div>
%end

%end

%if comments:
<div class="container-fluid col-md-offset-1 col-md-10 col-lg-10">
<h3>Комментарии</h3>
%for comment in comments:
<div class="panel panel-info">
<div class="panel-heading">{{comment.author}}</div>
<div class="panel-body">{{comment.comment}}</div>
<div class="panel-footer">{{comment.comment_date}}</div>
</div>
%end
</div>
%end
    
   
	




% include('footer.html')