% from google.appengine.api import users
% from datetime import date
% include('header.html')
% setdefault('action', 'add')

<div class="row  col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10">
    <form action="/{{action}}" method="post" role="form">
      
      <div class="form-group col-xs-4">
	  <label for="content">Текст заявки</label>
	  <textarea class="form-control input-lg" name="content" id="content" placeholder="На сцену выходят слоны и танцуют. В лучах черного света со штанкета на сцену падает Харухи Судзумия. Играет Blumenkranz. Бурные аплодисменты." id="content" rows="8">{{app.content}}</textarea>
	  </div>
      
	  <div class="form-group col-xs-2">
	  <label for="author_fn">ФИО автора заявки</label>
	  <input class="form-control" type="text" placeholder="Владимир Владимироваич Гендо" name="author_fn" id="author_fn" value="{{app.author_fn}}">   
	  <label for="author_phone">Телефон</label>
      <input class="form-control"  type="tel" placeholder="+380 322 223 322 322" name="author_phone" id="author_phone" value="{{app.author_phone}}">

	  <!-- <label for="app_type">Тип заявки</label>
	  <select class="form-control" name="app_type" id="app_type" >
	  <option>Сценка</option>
	  <option>Групповое дефиле</option>
	  <option>Караоке</option>
	  <option>Дефиле</option>
	  <option>Другое</option>
	  </select> -->
      
      </div>
      <div class="form-group col-xs-6" id="participants">
      <div class="form-group col-xs-12">
      <label class="control-label col-xs-4">Участники:</label>
      </div>
      
      
      
      % participant_id = 0      
      % for participant in app.participants:
      <div class="col-xs-12" id="participants_names_{{participant_id}}" >
      <div class="form-group col-xs-4" id="participants_fn_{{participant_id}}">
      <label for="participant_fn_{{participant_id}}"><small>ФИО</small></label>
      <input class="form-control input-sm" type="text" placeholder="Петя Васечкин" name="participant_fn_{{participant_id}}" id="participant_fn_{{participant_id}}" 
      value="{{participant.participant_fn}}">
      </div>
      <div class="col-xs-4" id="participants_nickname_{{participant_id}}">
      <label for="participant_nickname_{{participant_id}}"><small>Псевдоним</small></label>
      <input class="form-control input-sm" type="text" placeholder="Шынжы" name="participant_nickname_{{participant_id}}" id="participant_nickname_{{participant_id}}" value="{{participant.participant_nickname}}" >
      </div>
      <div class="col-xs-2" id="participants_age_{{participant_id}}">
      <label for="participant_age_{{participant_id}}"><small>Возраст</small></label>
      <input class="form-control input-sm" type="text" placeholder="9000" name="participant_age_{{participant_id}}" id="participant_age_{{participant_id}}" value="{{participant.participant_age}}">
      </div>
      <div class="col-xs-2" id="participants_delete_{{participant_id}}">
      <label for="participant_delete_{{participant_id}}">Удалить?</label>
      <input class="form-control input-sm" type="checkbox" name="participant_delete_{{participant_id}}" id="participant_delete_{{participant_id}}"> 
      </div>
      </div>
      % participant_id += 1
      % end
      
      <div class="col-xs-12" id="participants_names_{{participant_id}}" >
      <div class="form-group col-xs-5" id="participants_fn_{{participant_id}}">
      <label for="participant_fn_{{participant_id}}"><small>ФИО</small></label>
      <input class="form-control input-sm" type="text" placeholder="Петя Васечкин" name="participant_fn_{{participant_id}}" id="participant_fn_{{participant_id}}" >
      </div>
      <div class="col-xs-4" id="participants_nickname_{{participant_id}}">
      <label for="participant_nickname_{{participant_id}}"><small>Псевдоним</small></label>
      <input class="form-control input-sm" type="text" placeholder="Шынжы" name="participant_nickname_{{participant_id}}" id="participant_nickname_{{participant_id}}" >
      </div>
      <div class="col-xs-3" id="participants_age_{{participant_id}}">
      <label for="participant_age_{{participant_id}}"><small>Возраст</small></label>
      <input class="form-control input-sm" type="text" placeholder="9000" name="participant_age_{{participant_id}}" id="participant_age_{{participant_id}}" >
      </div>
      </div>
      </div>
      
      <div class="form-group col-xs-10 col-md-10 col-lg-10" id="comments">
	  <label for="comment">Комментарий</label>
	  <textarea class="form-control input-lg" name="comment" id="comment" placeholder="Хотелось бы добавить, что слоны розовые." id="comment" rows="3"></textarea>
      </div>
      <hr/>
      <div class="col-md-offset-11 form-group col-xs-1 col-md-1 col-lg-1" id="submits">
      <button type="submit" class="btn btn-primary btn-lg" id="submit">Послать!</button>
      </div>
      
      
      
      
      % if url_id:
        <input type="hidden" name="url_id" value="{{url_id}}">
      % end
    
    </form>
	</div>
	

    
%if comments:
<div class="container col-md-offset-1 col-xs-10 col-md-10 col-lg-10">
%for comment in comments:
<div class="panel panel-info">
<div class="panel-heading">{{comment.author}}</div>
<div class="panel-body">{{comment.comment}}</div>
<div class="panel-footer">{{comment.comment_date}}</div>
</div>
%end
</div>
%end
    
   
	




% include('footer.html')