

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/locales/bootstrap-datepicker.ua.js" charset="UTF-8"></script>
<script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js" charset="UTF-8"></script>

<script type="text/javascript">
	            $(document).ready(function () {
                $('#author_bdate').datepicker({
                    format: "dd-mm-yyyy",
					startView: 'decade',
					language: 'ru'
                });  
            });

</script>


</body>

</html>