<!DOCTYPE html>

<html>
    <head>
        <title>Система Заявок</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link id="bsdp-css" href="//eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet"> 

    </head>

<body style="padding-top: 70px;">

% from google.appengine.api import users
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li><a href="/">Главная</a></li>
        <li>
            
        </li>
        
        
        <!-- <li><a href="http://sam_banshee.diary.ru/">Diary.ru</a></li>
        <li><a href="https://twitter.com/sam_banshee">Twitter</a></li> -->
      </ul>
      
            <a href="/add" type="button" class="btn btn-default navbar-btn">Подать заявку!</a>
            
      <ul class="nav navbar-nav navbar-right">
        % user = users.get_current_user()
        % if user and users.is_current_user_admin():
            <li>
                <form action="/list-apps" method="get" accept-charset="utf-8" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input class="form-control input-sm" type="number" name="app_number" id="app_number" placeholder="Номер заявки...">
                    </div>
                    <button type="submit" id="submit" name="submit" class="btn btn-default">Искать!</button>
                </form>
            </li>
            <li><a href='/list-apps'>Админка: Все заявки</a></li>
        % end
        
        % if user:
            % logoff_url = users.create_logout_url('/')
            <li><a href='{{logoff_url}}'>Выйти</a></li>
        % else:
            % login_url =  users.create_login_url('/')
            <li><a href='{{login_url}}'>Зайти</a></li>
        % end 
        
      </ul>
      </div>
    
  </div>
</nav>