<!DOCTYPE html>

<html>
    <head>
        <title>Система Заявок</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<link id="bsdp-css" href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet"> 

    </head>

<body>
<div class="container">
<div class="row">
<div ><p class="lead">Последние 10 заявок:</p></div>
</div>
% if content:
<table class="table table-hover">

  % for message in content:
  <tr>
<td>{{message.author.nickname()}}</td><td>{{message.author_fn}}</td><td>{{message.author_bdate}}</td><td>{{message.author_mail}}</td><td>{{message.author_phone}}{{message.content}}</td><td>{{message.date}}</td>
</tr>    

  % end

</table>
% end
<div class="row">
    <form action="/sign" method="post" role="form">
      <div class="form-group col-xs-4">
	  <label for="content">Текст заявки</label>
	  <textarea class="form-control input-lg" name="content" id="content" placeholder="На сцену выходят слоны и танцуют. В лучах черного света со штанкета на сцену падает Харухи Судзумия. Играет Blumenkranz. Бурные аплодисменты." id="content" rows="8"></textarea>
	  </div>
      
	  <div class="form-group col-xs-3">
	  <label for="author_fn">ФИО автора заявки</label>
	  <input class="form-control" type="text" placeholder="Владимир Владимироваич Гендо" name="author_fn" id="author_fn">
	  <label for="author_bdate">Дата рождения автора</label>
	  <input class="form-control datepicker" data-provide="datepicker" type="date" name="author_bdate" id="author_bdate">  
	  <label for="author_mail">Адрес электронной почты</label>
	  <input class="form-control" type="email" placeholder="steve.jobs@heaven.com" name="author_mail" id="author_mail">
	  <label for="author_phone">Телефон</label>
	  <input class="form-control"  type="tel" placeholder="+380 322 223 322 322" name="author_phone" id="author_phone">
	  <label for="app_type">Тип заявки</label>
	  <select class="form-control" name="app_type" id="app_type">
	  <option>Сценка</option>
	  <option>Групповое дефиле</option>
	  <option>Караоке</option>
	  <option>Дефиле</option>
	  <option>Другое</option>
	  </select>
      </div>
      <div class="form-group col-xs-5" id="participants">
      <div class="form-group col-xs-12">
      <label class="control-label col-xs-4">Участники:</label>
      <div class="col-xs-8">
      <p class="form-control-static">ФИО, ник, возраст</p>
      </div>
      </div>
      <div class="form-group col-xs-12">
      <div class="form-group col-xs-5" id="participants1">
      <label for="participant_fn1">ФИО</label>
      <input class="form-control" type="text" placeholder="Петя Васечкин" name="participant_fn1" id="participant_fn1" >
      </div>
      <div class="form-group col-xs-4" id="participants2">
      <label for="participant_nickname1">Псевдоним</label>
      <input class="form-control" type="text" placeholder="Шынжы" name="participant_nikcname1" id="participant_nickname1" >
      </div>
      <div class="form-group col-xs-3" id="participants2">
      <label for="participant_age1">Возраст</label>
      <input class="form-control" type="text" placeholder="9000" name="participant_age1" id="participant_age1" >
      </div>
      </div>
	   
    
	<div class="clearfix visible-xs"></div>
	<button type="submit" class="btn btn-primary btn-lg">Послать!</button>
	</form>
</div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/locales/bootstrap-datepicker.ua.js" charset="UTF-8"></script>
<script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js" charset="UTF-8"></script>

<script type="text/javascript">
	            $(document).ready(function () {
                $('#author_bdate').datepicker({
                    format: "dd-mm-yyyy",
					startView: 'decade',
					language: 'ru'
                });  
            });
</script>

</body>

</html>