% from google.appengine.api import users
% from datetime import date
% include('header.html')
% setdefault('app_types', [])


<div class="container-fluid">
<div class="col-md-2 pull-right">
<h1>Инфа об авторе</h1>
<a class="btn btn-primary btn-lg" href="/add" role="button">Подать заявку!</a>
</div>
<div class="col-md-10">
<div class="row">
<div ><p class="lead">Последние 10 заявок:</p></div>
</div>
% if apps:
<table class="table table-hover table-condensed table-bordered">
  <tr>
  <th>Номер</th><th>Тип</th><th>Источник</th><th>Название</th><th>Отправлена</th><th>Статус</th><th></th>
  </tr>
  % for app in apps:
  <tr 
  % if app.app_status in ["wait",]:
    class="info"
  % elif app.app_status in ["deny",]:
    class="danger"
  % end
  >
    <td>{{app.number}}</td>
    <td>{{app_types[app.app_type]}}</td>
    <td>{{app.app_origin}}</td>
    <td>{{app.app_title}}</td>
    <td>{{app.date.strftime("%d-%m-%Y, %H:%M")}}</td>
    <td>{{ statuses[app.app_status] }}</td>
	<td><a href="/view/{{app.key.urlsafe()}}">Подробнеe...</a> </td>
</tr>    

  % end

</table>
% end

</div>
</div>

% include('footer.html')